.ImageMessage {
  width: fit-content;
}
.ImageMessage img {
  border-radius: 8px;
}
.own {
  margin-left: auto;
}
.messageImg {
  width: 200px;
  object-fit: cover;
}

@media screen and (max-width: 768px) {
  .messageImg {
    width: 150px;

  }
}
